

    <div class="news-form-container small-4  large-4">
    	
    		<div class="news-form">
					<form method="post"  action="/news/create" name="add_news"> 

				title:  <input type="text" class="inline" name="title" />
				<br/>
				url: <input type="text" class="inline" name="url" />
				<br/>
				text:
				<textarea name="text">enter the text here</textarea>
				<input type="submit" value = "submit">
				</form>
    			</div>
    		</div>
    	</div>


