body{
	background-color:#fff;
	padding-top:5px;
}

nav {
	background-color: #FFD700;
	min-height: 30px;
	padding-top: 3px;

}

.logo{
	margin-left:10px;
	margin-right: 20px;

	color:#fff;
	font-weight: 700;
}

.news-container{
	background-color: #d9d9d9;
}